.app {
  padding: 30px;
  display: flex;
}

.app > div {
  margin-right: 50px;
}

.task{
  font-weight: bold;
}
.task-done{
  text-decoration: line-through;
  font-style: italic;
  opacity: 0.5;
}
.filter__btn-active{
  background-color: rgb(0, 110, 150);
  color: white;
  border: 2px solid rgb(0, 110, 150);
}
input.error{
  border: 2px solid red;
  outline: none;
}